extends partial/layout
include mixins/container
include mixins/comment
include mixins/tags

block title
  title!= __('About') + " · " + config.title

block container
  +tagcloud()
  +page()

block comment
  if theme.comments.about
    +comment()
